{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% else %}
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url account_signup %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% for field in form %}                                               
{% if field.is_hidden %}  
{{ field.field|safe }}  
{% else %}
)       
<div class="form-row field-{{field.name}} ">
    <label for="{{ field.label }}">{{ field.field.label }}
        {% if field.field.required %}<span class="label label-important">Required</span>{% endif %}</label>
    {% if field.is_readonly %}                           
    <p>{{ field.contents }}</p>                      
    {% else %}                                           
    {{ field|safe }}                                
    {% endif %}
    {{ field.contents}}
    {% endif %}                                                    
</div>
{% endfor %}
{% endif %}
{% endblock %}


