<form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ module_name }}_form" >
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div> 
        {% if save_on_top %}{% block submit_buttons_top %}
        {% endblock %}{% endif %} 
        {% if errors %} 
        {{ form.non_field_errors }} 
        {% endif %} 

        {% block field_sets %} 
        {% for fieldset in form.fieldsets %} 
        {% include "erinire/fieldsets.html" %} 
        {% endfor %} 
        {% endblock %} 

        {% block after_field_sets %}
        {% include "erinire/uploader_script.html" %} 
        {% endblock %} 


        <div class="submit-row">
            <input type="submit" value="Save" class="default" name="_save" {{ onclick_attrib }}/>
            <input type="submit" value="Save and continue editing" name="_continue" {{ onclick_attrib }}/>
        </div>
    </div>
</form>

