<fieldset class="module aligned {{ fieldset.classes }}">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordionFieldset"
                href='#collapse_{{ fieldset.name|replace( " ", "_") }}'>
                {{ fieldset.legend|safe }}</a>
        </div>
        <div id='collapse_{{ fieldset.name|replace (" ", "_") }}' class="accordion-body in collapse" style="height: auto; ">
            <div class="accordion-inner">
                {% for field in fieldset %}                                               
                {% if field.is_hidden %}  
                {{ field | safe }}  
                {% else %}
                <div class="form-row field-{{field.name}} ">
                    <label for="{{ field.label }}">{{ field.field.label }}
                        {% if field.field.required %}<span class="label label-important">Required</span>{% endif %}</label>
                    {% if field.is_readonly %}                           
                    <p>{{ field.contents }}</p>                      
                    {% else %}                                           
                    {{ field|safe }}                                
                    {% endif %}
                    {{ field.contents}}
                    {% endif %}                                                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>  
</fieldset> 

