
{% extends "erinire/layout.html" %}
{% block form_includes %}
<script src="{{ static_url }}/assets/js/ajaxuploader/fileuploader.js" ></script>
<link href="{{ static_url }}/assets/css/ajaxuploader/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-fileupload.js"></script>

{% endblock %}

{% block content %}
<div class="container"> 
    <header class="jumbotron subhead" id="overview">
        <h1>File Review Listing</h1>
        <p class="lead"> Review the files</p>
    </header>
    
    <div class="row">
        <div class="span4 columns ">
            {% if files  and files|count > 0 %}
            {% for file_input in files %}
                 {{file_input.name }}
                 {{file_input.ck_sum}}
                 {% for tag in file_input.tags.all() %}
                 {{tag }}
                 {% endfor %}
            {% endfor %}
            {% endif %}
        </div> 
    </div>
    <div class="row">
        <div class="span4 columns ">
            {% for erinire_file in erinire_files %}
            <!-- label files here --!>                                       
            {% endfor %}
        </div>



        <div class="span4 columns ">
            <!-- insert file upload here --!>
        </div>
    </div>
</div>
{% endblock %}
