
{% extends "erinire/layout.html" %}
{% if form %}
{% block form_includes %}
<script src="{{ static_url }}/assets/js/ajaxuploader/fileuploader.js" ></script>
<link href="{{ static_url }}/assets/css/ajaxuploader/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-fileupload.js"></script>
{% endblock %}
{% endif %}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="span4 columns ">

        </div> 
        <div class="row">
            <h2> Thanks {{user.username}}.  Your activation email should arrive
                shortly.</h2>
        </div>

    </div>
</div> 
{% endblock %}
