{% extends "erinire/layout.html" %}
{% if form %}
{% block form_includes %}
<script src="{{ static_url }}/assets/js/ajaxuploader/fileuploader.js" ></script>
<link href="{{ static_url }}/assets/css/ajaxuploader/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-fileupload.js"></script>
{% endblock %}
{% endif %}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="row">
            <div class="span4 offset4 columns ">
                <form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ module_name }}_form" >
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div> 
                        {% if save_on_top %}{% block submit_buttons_top %}
                        {% endblock %}{% endif %} 

                        {# {% trans %} #}
                        <fieldset>
                            <legend>Signup </legend>
                            {% if form.non_field_errors() %}
                            <div class="alert-block alert-error fade in danger">
                                <a class="close" data-dismiss="alert"
                                    href="#">×</a>
                                <strong>
                                    {{ form.non_field_errors()|safe }}

                                </strong> 
                            </div>
                            {% endif %}
                            {% for field in form %}
                            <div {% if field.errors %}class="field_error"{%
                                endif %}>

                                <label for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}  <span class="label label-important">Required</span>{% endif %}</label>
                                {% if field.errors %}
                                <div class="alert-block alert-error fade in danger">
                                    <a class="close" data-dismiss="alert"
                                        href="#">×</a>
                                    <strong>
                                        {{field.errors | safe }} 
                                    </strong> 
                                </div>
                            </div>
                            {% endif %}
                            {{ field|safe }}
                        </div> 
                        {% endfor %}
                    </fieldset>
                    {# {% endtrans %} #}


                    <div class="submit-row">
                        <input type="submit" value="Register" class="default" name="save" {{ onclick_attrib }}/>
                        <input type="submit" value="Cancel and Clear" name="cancel" {{ onclick_attrib }} />
                    </div>

                </div>
            </form>

        </div>
    </div>
</div> 
{% endblock %}
