{% extends "erinire/layout.html" %}
{% load i18n %}

{% block title %}{% trans %} Signin {% endtrans %}{% endblock %}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="hero-unit">
            <h1> Welcome to ErinirE. </h1>
        </div>
        <div class="pull-right">
            <form action="" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>{% trans %} Signin {% endtrans %}</legend>
                    {% if form.non_field_errors() %}
                    <div class="alert-block alert-error fade in danger">
                        <a class="close" data-dismiss="alert"
                            href="#">×</a>
                        <strong>
                            {{ form.non_field_errors()|safe }}

                        </strong> 
                    </div>
                    {% endif %}
                    {% for field in form %}
                    {% if field.name == 'remember_me' %}
                    <p class="checkbox">
                    <label for="id_{{ field.name }}">{{ field|safe }} {{ field.label }}</label>
                    </p>
                    {% else %}
                    <p>
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                    {{ field|safe }}
                    </p>
                    {% endif %}
                    {% endfor %}
                </fieldset>
                <button type="submit" class="btn btn-primary">
                 <i class="icon-user icon-white"></i> {% trans %} Signin {% endtrans %}
                </button> 
                <a class="btn forgot-password" href="{% url userena_password_reset %}"
                    title="{% trans %}Forgot your password? {% endtrans %}">{% trans %}Forgot
                    your password? {% endtrans %}</a>
                {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
