{% extends "erinire/layout.html" %}
{% if form %}
{% block form_includes %}
<script src="{{ static_url }}/assets/js/ajaxuploader/fileuploader.js" ></script>
<link href="{{ static_url }}/assets/css/ajaxuploader/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-fileupload.js"></script>
{% endblock %}
{% endif %}


{% block content %}
<div class="container-fluid"> 
    <div class="row-fluid">
        <div class="span4 ">
        </div>

        <div class="span4 offset4 columns ">
            {% include "erinire/asub_form.html" %}        

        </div>
    </div> 
</div>
{% endblock %}


