<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ STATIC_URL }}/assets/js/jquery/jquery-1.7.2.min.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/jquery/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}/assets/js/misc/prettify.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-scrollspy.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-button.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-collapse.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-carousel.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-typeahead.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/misc/d3.js"></script>
        {% if form %}
        {% block form_includes %}
        {% endblock %}
        {% endif %}
        <!--
        <script src="{{ STATIC_URL }}/assets/js/calendar.js"></script>
        <script src="{{ STATIC_URL }}/assets/js/DateTimeShortcuts.js"></script> -->


        <!-- Le styles -->

        <link href="{{ STATIC_URL }}/assets/css/themes/base/jquery.ui.all.css" rel="stylesheet"> 
        <link href="{{ STATIC_URL }}/assets/css/themes/trontastic/jquery.ui.all.css" rel="stylesheet"> 
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style> 
        <link href="{{ STATIC_URL }}/assets/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/assets/css/bootstrap//bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/assets/css/misc/prettify.css" rel="stylesheet">


        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}/assets/images/favicon.png">

    </head>

    <body>
            {% block navigation %}  {% endblock %}

            {% block content %} {% endblock %}

    </body>
</html>
