{% extends "erinire/layout.html" %}
{% block content %}


<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>



<div class="demo">

    <p>Date: <input type="text" id="datepicker"></p>
</div>    

{% endblock %}

