{% extends "erinire/base.html" %}

{% block navigation %}
<div class="navbar fluid  navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">ErinirE</a>
            <div class="nav-collapse collapse">
                <ul class="nav">            
                    {% if request.user.is_authenticated() %}               
                    <li class="dropdown" id="submitMenu1">
                    <a  href="#submitMenu1" class="dropdown-toggle" data-toggle="dropdown">Submit<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ><a href="{% url submission %}">Submit an Attack</a></li>
                        <li ><a href="{% url update %}">Update Attack Information</a></li>
                    </ul>
                    </li>
                    {% else %}
                    {# <li class="dropdown" id="submitMenu1">
                    <a  href="{% url userena_signin  %}" class="dropdown-toggle" data-toggle="dropdown">Submit<b class="caret"></b></a>
                    </li> #}
                    {% endif %}
                </ul>
            </div>

            <div class="pull-right">
                <ul class="nav">
                    {% if request.user.is_authenticated() %}               
                    <li>
                    <a class="js-signout-button" id="signout-button" href="{% url userena_signout %}" data-nav="logout">Sign out</a> 
                    </li>
                    {% else %}
                    <li>
                    <a class="js-register-button" id="register-button" href="{% url signup %}" data-nav="Register">Register</a> 
                    </li>
                    <li>
                    <a class="js-signin-button" id="signin-button" href="{% url userena_signin %}" data-nav="login">Sign in</a> 
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    jQuery(function($) { $('.dropdown-toggle').dropdown();});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span8 ">
            {% block left %} {% endblock %}
        </div>
        <div class="span4">
            {% block right %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
