{% extends "erinire/layout.html" %}
{% if form %}
{% block form_includes %}
<script src="{{ static_url }}/assets/js/ajaxuploader/fileuploader.js" ></script>
<link href="{{ static_url }}/assets/css/ajaxuploader/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}/assets/js/bootstrap/bootstrap-fileupload.js"></script>
{% endblock %}
{% endif %}


{% block content %}
<div class="container"> 
    <div class="row">
        <div class="row">
            <div class="span4 columns ">
                {% include "erinire/asub_form.html" %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div>
                    {% if errors %}
                    {{ form.non_field_errors }}
                    {% endif %}

                    {% block field_sets %}
                    {% for field in form.fieldsets.field %}
                    <div class="form-row field-{{field.name}} ">
                        <label for="{{ field.label }}">{{ field.field.label }}
                            {% if field.field.required %}<span class="label label-important">Required</span>{% endif %}</label>
                        {% if field.is_readonly %}
                        <p>{{ field.contents }}</p>
                        {% else %}
                        {{ field|safe }}
                        {% endif %}
                        {{ field.contents}}
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endblock %}

                    {% block after_field_sets %}
                    {% include "erinire/uploader_script.html" %}
                    {% endblock %}

                    <div class="submit-row">
                        <input type="submit" value="Submit URL" class="default" name="submit" {{ onclick_attrib }}/>
                    </div>
                </div>

            </div>
        </div>
    </div> 
</div>
{% endblock %}


